<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First app</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
    <h1>Hello this is index.html!</h1>
    {{ insert_me }}
    <img src="{% static "images/image.png" %}" alt="" class="Bo_1">
    <div class="djangotwo">
      {% if access_records %}
        <table>
          <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
          </thead>
          <tbody>
            {% for acc in access_records %}
              <tr>
                <td>
                  {{ acc.name }}
                </td>
                <td>
                  {{ acc.date }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No access records found.</p>
      {% endif %}
    </div>
  </body>
</html>
